.doctor {
  padding: 15px 0;
  text-align: left;
  overflow: auto;
  border-bottom: #f8f8f8 1px solid;
}

.doctor a {
  cursor: pointer;
  color: #41b5e5;
  text-decoration: none;
}

.doctor img {
  float: left;
  width: 100px;
}

.doctor__personal {
  width: 40%;
  margin: 0 0 0 14px;
  padding: 0 10px;
  float: left;
}

.doctor__name {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #41b5e5;
}

.doctor__specialty {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.doctor__locations {
  width: 260px;
  float: right;
}

.doctor__location {
  padding: 10px 0 14px 0;
}

.doctor__office {
  font-size: 1em;
  margin: 0 0 5px 0;
  font-weight: bold;
  color: #41b5e5;
}

.doctor__distance {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}
