/* I had to look up radio styling.
 * Modified from: http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
 */

input[type=radio]:not(old) {
  width: 12px;
  margin: 12px 0 0 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -22px;
  line-height: 24px;
  font-weight: bold;
}

input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px 17px 4px 4px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  background: #ffffff;
  vertical-align: bottom;
}

input[type=radio]:not(old):checked + label > span {
  background: #ffffff;
}

input[type=radio]:not(old):checked + label > span > span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 1px;
  border: 1px solid #41b5e5;
  border-radius: 1px;
  background: #41b5e5;
}
