.zip-search {
  margin: 28px 0 64px;
  background-color: #f8f8f8;
  padding: 28px 23px;
  overflow: auto;
  color: #827a68;
}

.zip-search label {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

.zip-search__zip {
  float: left;
  border-radius: 3px;
  border: 1px solid #dbd5cc;
  width: 50%;
  font-size: 2em;
}

.zip-search__submit {
  padding: 10px 20px;
  width: 200px;
  float: right;
  border: none;
  border-radius: 3px;
  font-size: 1.3em;
  color: #ffffff;
  background-color: #5ab44b;
  cursor: pointer;
}
