
.header {
    border-bottom: #f8f8f8 solid 2px;
    margin: 0 0 2em 0;
}
.header__gradient {
    height: 10px;
    background: url('./gradient.png');
    background-position: center top;
    background-size: 100% auto;
}

.header__logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
