.distance-slider {
  height: 203px;
}

.distance-slider h2 {
  margin: 0 0 20px 0;
}

.distance-slider__slider {
  width: 99%;
  margin-left: 1%;
}

.distance-slider__current {
  margin: 55px 0 0 0;
  color: #000000;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
}
